.animate {
    animation-duration: 0.8s;
    animation-name: animate-fade;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;

  }
  
  @keyframes animate-fade {
    0%,100% { opacity: 0.3; }
    50% { opacity: 1; }
  }